.btn {
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  &_blue {
    background-color: $blue;
    border: none;
    color: $white;
    display: block;
    padding: 13px 20px 14px;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.4);
    &:hover {
      background-color: $light_blue;
    }
  }
  &_white {
    background-color: $white;
    border: 1px solid $blue_border;
    color: $blue_border;
    margin-top: 16px;
    padding-top: 13px;
    padding-bottom: 15px;
    &:hover {
      background-color: $blue;
      color: $white;
    }
    span {
      font-style: italic;
      text-transform: lowercase;
    }
    img {
      position: relative;
      top: 4px;
      left: 0;
    }
  }
}


