//custom checkbox
/* Base for label styling */
.checkbox:not(:checked),
.checkbox:checked {
  position: absolute;
  left: -9999px;
}

.checkbox:not(:checked) + label,
.checkbox:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.checkbox:not(:checked) + label:before,
.checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid $grey_border;
  background: $white;
  border-radius: 3px;
}

/* checked mark aspect */
.checkbox:not(:checked) + label:after,
.checkbox:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 20px;
  line-height: 0.8;
  color: $black;
  transition: all .2s;
}

/* checked mark aspect changes */
.checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
.checkbox:disabled:not(:checked) + label:before,
.checkbox:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

//_______________________________________________________________________________________________________

//custom radiobutton
.radio-wrap {
  margin: 13px 0 0;
  &__inline {
    margin-bottom: 10px;
  }
  input[type="radio"] {
    position: absolute;
    opacity: 0;
     + .radio-label {
       position: relative;
       font-size: 18px;
      &:before {
        content: '';
        border-radius: 50%;
        border: 1px solid $input_border;
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        margin-right: 10px;
        transition: all 250ms ease;
      }
    }
    &:checked {
       + .radio-label {
        &:after {
          content: '';
          background-color: $black;
          width: 8px;
          height: 8px;
          position: absolute;
          top: 7px;
          left: 7px;
          border-radius: 50%;
        }
      }
    }
    //&:focus {
    //  & + .radio-label {
    //    &:before {
    //      outline: none;
    //      border-color: $color2;
    //    }
    //  }
    //}
    // + .radio-label {
    //  &:empty {
    //    &:before {
    //      margin-right: 0;
    //    }
    //  }
    //}
  }
}

//________________________________________________________________________________________________________________

//Custom radio in main-block
.tariffs {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
  &:before {
    content: '';
    position: absolute;
    width: 94%;
    height: 5px;
    top: 69px;
    left: 3%;
    background-color: $bg_light_grey;
    z-index: 0;
  }
  .tariff {
    text-align: center;
    width: 11%;
    span {
      display: block;
    }
    h3 {
      margin-bottom: 48px;
    }
    .sale {
      margin: 10px 0 -1px;
      font-size: 18px;
      color: $green;
    }
    .total-price {
      color: $grey_text;
      font-size: 15px;
    }
  }
  .switch {
    width: 94%;
    position: absolute;
    left: 3%;
    top: 62px;
    display: flex;
    justify-content: space-between;
    label {
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 10px;
      background-color: $bg_light_grey;
      border-radius: 50%;
      text-align: center;
      position: relative;
      z-index: 1;
      cursor: pointer;
      transition: color 200ms ease-out;
    }

    #border {
      width: 106px;
      height: 141px;
      position: absolute;
      top: -30px;
      border: 2px solid $green;
      transition: 0.5s .05s ease-in-out;
    }

    .radiobutton:checked + label {
      background-color: $white;
      border: 2px solid $green;
      padding: 16px;
      top: -9px;
      transition: padding .2s;
    }

    .radiobutton:checked + label:after {
      content: '';
      background: url(../img/v.png) no-repeat;
      width: 34px;
      height: 34px;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    input#radio-0:checked ~ #border {
      //left: 0;
      transform: translate3d(-2.1rem, 0, 0);
    }
    input#radio-1:checked ~ #border {
      //transform: translateX(0%);
      //left: 20%;
      transform: translate3d(145%, 0, 0);
    }
    input#radio-2:checked ~ #border {
      //transform: translateX(40%);
      //left: 40%;
      transform: translate3d(5.5rem, 0, 0);
    }
    input#radio-3:checked ~ #border {
      //transform: translateX(50%);
      //left: 60%;
      transform: translate3d(5.5rem, 0, 0);
    }
    input#radio-4:checked ~ #border {
      //transform: translateX(75%);
      //left: 80%;
      transform: translate3d(5.5rem, 0, 0);
    }
    input[type="radio"] {
      &:not(:checked),
      &:checked {
        display: none;
      }
    }
  }
}

//_____________________________________________________________________________________________________________________

input[type="text"] {
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

//Switch
.title-container__switch_icon {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.title-container__switch_icon + label {
  cursor: pointer;
}

.title-container__switch_icon:not(checked) {
  position: absolute;
  opacity: 0;
}

.title-container__switch_icon:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}

.title-container__switch_icon:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
}

.title-container__switch_icon:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  transition: all .2s;
}

.title-container__switch_icon:checked + label:before {
  background: $green;
}

.title-container__switch_icon:checked + label:after {
  left: 26px;
}

