.billing {
  background-color: $bg_grey;
  padding: 26px 30px 0;
  min-height: 100%;
  position: relative;
  z-index: 0;

  .title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;

    &__title {
      img {
        width: 20px;
        display: inline-block;
        margin-right: 13px;
      }

      h2 {
        display: inline-block;
      }
    }
    &__switch {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      h3 {
        padding: 0 20px 0 0;
      }
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    min-height: 620px;
    > * {
      font-size: 15px;
    }
    .main-block {
      background-color: $white;
      display: inline-block;
      padding: 22px 34px 22px 30px;
      min-height: 617px;
      vertical-align: top;
      width: calc(100% - 249px);
      @media(max-width: 999px) {
        width: 100%;
      }
      .used-licenses {
        margin-bottom: 3px;

        span {
          color: $red;
        }
      }

      .period {
        margin-bottom: 49px;
      }

      .licenses-number {
        h2 {
          display: inline-block;
          vertical-align: middle;
        }

        &__price {
          display: flex;
          width: 216px;
          justify-content: space-between;
          align-items: center;
          float: right;
          .licenses-size {
            width: 37px;
            height: 37px;
            background-color: $milk;
            outline: none;
            border: 1px solid $grey_border;
            border-radius: 2px;
            font-size: 26px;
            &:hover {
              cursor: pointer;
            }
            &.rise {
              color: $blue;
            }
          }
        }
      }

      .licenses-number-info {
        display: block;
        margin: 0 auto;
        width: 100%;
        border: 2px solid $green-border;
        margin: 20px 0;
        position: relative;
        border-radius: 3px;
        .arrow-up {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          position: absolute;
          right: 120px;
          &__green {
            border-bottom: 10px solid $green-border;
            top: -11px;
          }
          &__white {
            border-bottom: 10px solid $white;
            top: -8px;
          }
        }
        .arrow {
          width: 0;
          height: 0;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent;
          position: absolute;
          bottom: -2px;
          &__green {
            border-bottom: 30px solid $green-border;
            right: -30px;
          }
          &__white {
            border-bottom: 30px solid $white;
            right: -33px;
          }
        }

        p {
          display: block;
          margin: 0 auto;
          width: 220px;
          padding-top: 17px;
          padding-bottom: 16px;
        }
      }

      .extend {
        margin: 23px 0 0;
      }
    }

    .additional-block {
      background-color: $bg_light_grey;
      width: 249px;
      display: inline-block;
      min-height: 617px;
      vertical-align: top;
      padding: 18px 20px 27px 21px;
      position: relative;
      @media(max-width: 999px) {
        display: block;
        width: 100%;
        min-height: 320px;
      }

      table {
        width: 100%;
        @media(max-width: 999px) {
         width: 208px;
        }
        td {
          color: $grey_text;
          padding: 8px 0 4px;
        }
        .total-text {
          font-size: 24px;
        }

        .table-title {
          color: $black;
        }

        .special-element {
          width: 95px;
        }

        .right-part {
          text-align: right;
        }
        .end-first-parts {
          border-bottom: 1px dotted $grey_dotted;
        }
      }
    }
    .orders {
      width: 100%;
      position: relative;
      h3 {
        margin-top: 25px;
        color: $grey_text;
        margin-bottom: 17px;
      }
      .btn {
        width: 156px;
        font-size: 13px;
        padding: 10px 0;
        position: absolute;
        top: 63px;
        right: -1px;
        &:hover {
          cursor: pointer;
        }
      }
      .line {
        margin: 18px 0 23px;
      }
      .order {
        display: flex;
        justify-content: space-between;
        width: 70%;
        &__item {
          width: 20%;
          img {
            width: 32px;
            height: 41px;
            margin-right: 10px;
          }
          p {
            color: $grey_text;
            line-height: 18px;
            span {
              display: block;
            }
          }
          &_img {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
