.modal {
  display: none;
  &.open {
    display: -webkit-flex;
    display: flex;
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .background {
    background-color: $white;
    opacity: .8;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500%;
  }
  .modal-wrap {
    position: absolute;
    z-index: 5;
    .modal-content {
      z-index: 5;
      background-color: $white;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      //centering modal
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 644px;
      border: 1px solid $grey_border;
      -webkit-box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.2);
      .left-part {
        padding: 22px 30px 30px 29px;
        width: 386px;
        h2 {
          margin-bottom: 18px;
          margin-left: 2px;
        }
        .save_btn {
          float: right;
        }
        .btn_blue {
          padding: 15px 20px 18px;
        }
      }
      .right-part {
        width: 257px;
        padding-left: 29px;
        background-color: $bg_light_grey;
        position: relative;
        .close-modal {
          position: absolute;
          width: 14px;
          height: 14px;
          right: 20px;
          top: 20px;
          &:hover {
            cursor: pointer;
          }
        }
        .total {
          position: absolute;
          bottom: 20px;
          h1 {
            margin-top: 3px;
          }
          &__off {
            padding-top: 5px;
          }
        }
      }
    }
  }
}