<div class="billing js-billing">
    <div class="title-container">
        <div class="title-container__title">
            <a href=""><img src="./assets/img/menu.png" alt=""></a>
            <h2>Магазин</h2>
        </div>

        <div class="title-container__switch">
            <h3>Reccurement payment</h3>
            <input type="checkbox" class="title-container__switch_icon" id="switch">
            <label for="switch"></label>
        </div>
    </div>

    <div class="container">
        <div class="main-block">
            <h2 class="used-licenses"><span>55 of 53</span> licenses used</h2>
            <p class="period">Active till 15 Sept 2014</p>
            <div class="licenses-number">
                <h2>Buy more licenses:</h2>
                <div class="licenses-number__price">
                    <button class="licenses-size js-reduction">-</button>
                    <h3 class="license-count js-license-count"></h3>
                    <button class="licenses-size rise js-raising">+</button>
                    <span>x</span>
                    <h3>$5.99/mo</h3>
                </div>
                <div class="clearix"></div>
            </div>
            <div class="licenses-number-info">
                <div class="arrow-up arrow-up__green"></div>
                <div class="arrow-up arrow-up__white"></div>
                <p>Buy 2 more licenses and save $10</p>
                <div class="arrow arrow__green"></div>
                <div class="arrow arrow__white"></div>
            </div>
            <div class="line"></div>
            <h2 class="extend">Extend subscription:</h2>

            <div class="tariffs">
                <div class="tariff">
                    <h3 class="js-time">none</h3>
                </div>

                <div class="tariff">
                    <h3 class="js-time">6 month</h3>
                    <span class="sale js-sale" data-time="6"></span>
                    <span class="total-price js-time-price" data-time="6"></span>
                </div>

                <div class="tariff">
                    <h3 class="js-time">9 month</h3>
                    <span class="sale js-sale" data-time="9"></span>
                    <span class="total-price js-time-price" data-time="9"></span>
                </div>

                <div class="tariff">
                    <h3 class="js-time">1 year</h3>
                    <span class="sale js-sale" data-time="12"></span>
                    <span class="total-price js-time-price" data-time="12"></span>
                </div>

                <div class="tariff">
                    <h3 class="js-time">2 year</h3>
                    <span class="sale js-sale" data-time="24"></span>
                    <span class="total-price js-time-price" data-time="24"></span>

                </div>

                <div class="switch">
                    <input type="radio" name="tariff" id="radio-0" data-time="1" class="radiobutton js-time-change">
                    <label for="radio-0"> </label>

                    <input type="radio" name="tariff" id="radio-1" data-time="6" class="radiobutton js-time-change"
                           checked>
                    <label for="radio-1"> </label>

                    <input type="radio" name="tariff" id="radio-2" data-time="9" class="radiobutton js-time-change">
                    <label for="radio-2"> </label>

                    <input type="radio" name="tariff" id="radio-3" data-time="12" class="radiobutton js-time-change">
                    <label for="radio-3"> </label>

                    <input type="radio" name="tariff" id="radio-4" data-time="24" class="radiobutton js-time-change">
                    <label for="radio-4" class="non-before"> </label>

                    <div id="border"></div>
                    <div class="border-radio"></div>

                </div>
            </div>
        </div>

        <div class="additional-block">
            <div class="additional-block__wrap-calculation">
                <h4 class="additional-block__title">Additional licenses</h4>
                <div class="additional-block__calculation">
                    <span><span class="js-license-count-value"></span> lic</span>
                    <span class="text-right"> $5.99</span>
                </div>
                <div class="additional-block__calculation">
                    <span>Summary:</span>
                    <span class="text-right"><span class="js-license-count-value"></span> licenses</span>
                </div>
                <span class=" block text-right">x $5.99/mo</span>
                <span class="block text-right">x <span class="js-period-in-day"></span> days</span>
                <h2 class="js-total-price"></h2>
            </div>
            <div class="total">
                <h3>Total:</h3>
                <h1 class="js-total-price"></h1>

                <h3 class="total__off js-total-sale"></h3>


                <a class="coupone js-open-coupone-input" href="">I have a coupone</a>

                <div class="wrap-coupone">
                    <div class="btn btn_blue js-modal-open js-open-coupone-btn">Proceed to Checkout</div>

                    <input class="coupone-number" type="text" placeholder="Coupone code">

                </div>

            </div>
        </div>

        <div class="orders">

            <div class="btn btn_blue js-modal-open">Proceed to Checkout</div>
            <h3>Your recent orders</h3>
            <div class="order">
                <div class="order__item">
                    <p>#884111 <span>06.09.2013 18:17</span></p>
                </div>
                <div class="order__item">
                    <p class="js-total-price"></p>

                </div>
                <div class="order__item">
                    <p>Pending</p>
                </div>
                <a href="" class="order__item order__item_img">
                    <img src="./assets/img/doc.png" alt="">
                    <p>Receipt</p>
                </a>
                <a href="" class="order__item order__item_img">
                    <img src="./assets/img/doc.png" alt="">
                    <p>Receipt</p>
                </a>
            </div>


            {#<div class="line"></div>#}
            {#<div class="order">#}
            {#<div class="order__item">#}
            {#<p>#884111 <span>06.09.2013 18:17</span></p>#}
            {#</div>#}
            {#<div class="order__item">#}
            {#<p class="js-total-price"></p>#}

            {#</div>#}
            {#<div class="order__item">#}
            {#<p>Pending</p>#}
            {#</div>#}
            {#<a href="" class="order__item order__item_img">#}
            {#<img src="./assets/img/doc.png" alt="">#}
            {#<p>Receipt</p>#}
            {#</a>#}
            {#<a href="" class="order__item order__item_img">#}
            {#<img src="./assets/img/doc.png" alt="">#}
            {#<p>Receipt</p>#}
            {#</a>#}
            {#</div>#}
            {#<div class="line"></div>#}
            {#<div class="order">#}
            {#<div class="order__item">#}
            {#<p>#884111 <span>06.09.2013 18:17</span></p>#}
            {#</div>#}
            {#<div class="order__item">#}
            {#<p class="js-total-price"></p>#}

            {#</div>#}
            {#<div class="order__item">#}
            {#<p>Pending</p>#}
            {#</div>#}
            {#<a href="" class="order__item order__item_img">#}
            {#<img src="./assets/img/doc.png" alt="">#}
            {#<p>Receipt</p>#}
            {#</a>#}
            {#<a href="" class="order__item order__item_img">#}
            {#<img src="./assets/img/doc.png" alt="">#}
            {#<p>Receipt</p>#}
            {#</a>#}
            {#</div>#}

        </div>

    </div>
</div>