<div class="modal js-modal">

    <div class="background js-background"></div>

    <div class="modal-wrap js-modal-wrap">

        <div class="modal-content">
            <div class="left-part">

                <h2>Credit Card Details:</h2>

                <div class="radio-wrap">
                    <input type="radio" name="card" id="card">
                    <label class="radio-label js-close-form" for="card">MC ****9668</label>
                </div>


                <div class="radio-wrap radio-wrap__inline">
                    <input type="radio" name="card" id="new-card">
                    <label class="radio-label js-open-form" for="new-card">New card</label>

                    <input type="checkbox" class="checkbox" id="save">
                    <label class="save_btn" for="save">Save</label>
                </div>
                <div class="clearfix"></div>

                <form action="">
                    <div class="personal-about js-form">

                        <input class="personal-info js-number js-number-new-card"
                               pattern="[0-9]{4}\s[0-9]{4}\s[0-9]{4}\s[0-9]{4}" maxlength="19" type="text" placeholder="Number">
                        <input class="personal-info" type="text" placeholder="Name on card">

                        <div class="wrap-card-info">
                            <div class="wrap-card-info--data">
                                <input class="number-card js-number js-input-month" maxlength="2" type="text" placeholder="MM">
                                <input class="number-card js-number" maxlength="2" type="text" placeholder="YY">
                            </div>
                            <input class="number-card-cvv js-number" type="text" maxlength="3" placeholder="CVV">
                        </div>
                        <div class="wrap-example-number-card">
                            <img src="./assets/img/card.png" alt="" class="example-number-card">
                        </div>


                    </div>
                    <div class="wrap-checkbox">
                        <input type="checkbox" class="checkbox" id="payment">
                        <label for="payment">Do a reccurement payment</label>
                    </div>
                    <button class="js-send-form btn btn_blue" type="submit">Checkout</button>
                    <button class="js-send-form btn btn_white" type="submit"><span class="text">or </span> Pay with <img
                                src="./assets/img/paypal.png"
                                alt=""></button>
                </form>
            </div>

            <div class="right-part">
                <img class="close-modal js-close-modal" src="./assets/img/x.png" alt="">
                <div class="total">
                    <h3>Total:</h3>
                    <h1 class="js-total-price"></h1>

                    <h3 class="total__off js-total-sale"></h3>
                </div>
            </div>
        </div>
    </div>

</div>
