/* Дефолтные стили */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
}

//Шрифт
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

/* Формы */
input, textarea, button {
  font-family: $PTSans;
}

/* Аккуратные таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Основные стили */
html {
  background: rgba(255, 255, 255, 1);
  height: 100%;
}

body {
  font-family: $PTSans;
  font-weight: 400;
  height: 100%;
  min-width: 751px;
  overflow: auto;
  &.overflow {
    overflow: hidden;
  }
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 15px;
}

.line {
  height: 1px;
  background-color: $grey_line;
}

.clearix {
  clear: both;
}

/* Ссылки без дефолтного подчёркивания */
a {
  text-decoration: none;
}

.total {
  min-width: 208px;
  @media (max-width: 999px) {
   width: 208px;
  }
  h1 {
    color: $blue;
    font-weight: 400;
    margin-top: 5px;
  }

  &__off {
    color: $green;
    padding-top: 5px;
    padding-bottom: 11px;
  }

  .wrap-coupone {
    position: relative;
    margin-bottom: -7px;
    .btn_blue {
      position: absolute;
      transition: .8s;
      top: 0;
      letter-spacing: -0.01em;
      &.btn-open {
        top: 50px;
      }
    }
    .coupone-number {
      margin: 0 0 20px;
      padding: 8px 0 8px 8px;
      border-radius: 3px;
      outline: none;
      width: 100%;
      border: 1px solid $input_border;
    }
  }
  .coupone {
    font-size: 13px;
    color: $grey_text;
    border-bottom: 1px dotted $grey_dotted;
    margin-bottom: 20px;
    display: inline-block;

    &:hover {
      color: $green;
      border-bottom: 1px dotted $green;
    }
  }
}

input[type="text"],
input[type="checkbox"],
label {
  font-size: 100%;
  padding: 0;
}


