/* Переменные */
$PTSans: 'PT Sans', sans-serif;;

$grey_text: #676e79;
$grey_border: #d3d6d7;
$bg_grey: #e9eaed;
$bg_light_grey: #f5f5f5;
$grey_line: #f4f4f5;
$grey_dotted: #e1e2e3;
$red: #f37575;
$blue: #158fd2;
$blue_btn: #1690d3;
$light_blue: #6abbe7;
$blue_border: #5cbcf1;
$green: #749e42;
$green-border: #e3ecd9;
$white: #ffffff;
$black: #2e3640;
$milk: #fafafb;
$input_border: #e8e8e8;


